/**
 * The hero image and carousels.
 * @component .hero
 * @example <div class="ui hero">
 *     <!-- content -->
 * </div>
 */
.hero--inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 480px) {
  .hero--inner {
    max-width: 476px;
  }
}
@media (min-width: 768px) {
  .hero--inner {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .hero--inner {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .hero--inner {
    max-width: 1180px;
  }
}
.hero--inner::after {
  content: "";
  display: block;
  clear: left;
}
@media (min-width: 768px) {
  .hero--inner {
    min-height: 200px;
  }
}
.hero .multiple {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.hero .single {
  position: relative;
}
.hero--presentation {
  position: absolute;
  top: 50%;
  left: 40px;
  width: calc(100% - 80px);
  transform: translateY(-50%);
}
.hero--presentation h1,
.hero--presentation h2 {
  font-family: 'hlmt-rounded', Arial, sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: -1px -1px 5px rgba(0,0,0,0.5), -1px 1px 5px rgba(0,0,0,0.5), 1px -1px 5px rgba(0,0,0,0.5), 1px 1px 5px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
  .hero--presentation h1,
  .hero--presentation h2 {
    font-size: 6rem;
  }
}
.hero.as-carousel .multiple {
  display: none;
}
.hero.as-carousel .owl-controls {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
@media (min-width: 768px) {
  .hero.as-carousel .owl-controls {
    left: 17px;
    bottom: 17px;
  }
}
.hero.as-carousel .owl-page {
  margin: 3px;
  height: 12px;
  width: 12px;
  display: inline-block;
  background-size: 100%;
  background-image: url("./images/icon-leaf.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.hero.as-carousel .owl-page.active {
  background-image: url("./images/leaf-empty.png");
}
@media (min-width: 768px) {
  .hero.as-carousel .owl-page {
    height: 26px;
    width: 26px;
  }
}
