/**
 * The navigation subitem standalone for Desktop.
 * @component .navigation
 * @example <div class="ui navigation">
 *     <!-- content -->
 * </div>
 */
.navigation {
  background-color: rgba(255,255,255,0.8);
  display: none;
/**
     * The blue transparency if share buttons are presents.
     * @type {variation}
     * @name .as-alternative
     * @memberOf .navigation
     * @example <div class="ui navigation as-alternative">
     *     <!-- content -->
     * </div>
     */
/**
     * Allow you to not align element but center them.
     * @type {variation}
     * @name .as-centered
     * @memberOf .navigation
     * @example <div class="ui navigation as-centered">
     *     <!-- content -->
     * </div>
     */
}
.navigation--inner {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .navigation--inner {
    max-width: 476px;
  }
}
@media (min-width: 768px) {
  .navigation--inner {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .navigation--inner {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .navigation--inner {
    max-width: 1180px;
  }
}
.navigation--inner::after {
  content: "";
  display: block;
  clear: left;
}
@media (min-width: 768px) {
  .navigation {
    display: block;
  }
}
.navigation a {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  display: inline-block;
  color: #2c1200;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .navigation a {
    font-size: 2.4rem;
  }
}
.navigation--items {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'hlmt-rounded', Arial, sans-serif;
}
.navigation--item {
  display: inline-block;
  text-align: center;
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.navigation--item a:hover {
  background-color: #2c1200;
  color: #fff;
  text-decoration: none;
}
.navigation--item.is-active {
  background-color: #2c1200;
}
.navigation--item.is-active a {
  color: #fff;
}
.navigation.as-alternative {
  background-color: rgba(221,232,253,0.5);
}
.navigation .as-centered .navigation--items {
  text-align: center;
  font-size: 0;
}
@media (min-width: 768px) {
  .navigation .as-centered .navigation--item {
    float: none;
  }
}
