/**
 * The Slot système (for multi component).
 * @component .slot
 * @example <!-- This is a component because contain `.ui` -->
 * <div class="ui slot">
 *     <!-- content -->
 * </div>
 */
.slot--inner {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media (min-width: 480px) {
  .slot--inner {
    max-width: 476px;
  }
}
@media (min-width: 768px) {
  .slot--inner {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .slot--inner {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .slot--inner {
    max-width: 1180px;
  }
}
.slot--inner::after {
  content: "";
  display: block;
  clear: left;
}
.slot--inner > .slot--before {
  padding: 20px;
}
.slot.as-container .slot--inner {
  background-color: #fff;
}
@media (min-width: 480px) {
  .slot.as-container .slot--inner {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.slot.as-toggles > .slot--inner > .slot--items > .slot--item {
  display: none;
/**
                     * Show a part with the variation `.as-toggles` class on `.slot` component.
                     * @type {state}
                     * @name .is-displayed
                     * @memberOf .slot--item
                     * @example <div class="slot--item is-displayed">
                     *     <!-- content -->
                     * </div>
                     */
}
.slot.as-toggles > .slot--inner > .slot--items > .slot--item.is-displayed {
  display: block;
}
