/**
 * A Where-to-buy compolete component.
 * @component .where-to-buy
 * @example <div class="ui where-to-buy">
 *     <!-- content -->
 * </div>
 */
.where-to-buy--inner {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .where-to-buy--inner {
    max-width: 476px;
  }
}
@media (min-width: 768px) {
  .where-to-buy--inner {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .where-to-buy--inner {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .where-to-buy--inner {
    max-width: 1180px;
  }
}
.where-to-buy--inner::after {
  content: "";
  display: block;
  clear: left;
}
.where-to-buy--items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.where-to-buy--item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
}
.where-to-buy--list {
  float: left;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .where-to-buy--list {
    width: calc(50% - 30px);
  }
}
.where-to-buy--map {
  float: left;
  margin-top: 15px;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .where-to-buy--map {
    width: calc(50% - 30px);
  }
}
.where-to-buy--map--canvas {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}
.where-to-buy h1,
.where-to-buy h2 {
  font-size: 3.4rem;
  font-family: 'hlmt-rounded', Arial, sans-serif;
  color: #2c1200;
}
@media (min-width: 768px) {
  .where-to-buy h1,
  .where-to-buy h2 {
    font-size: 6rem;
  }
}
.where-to-buy h3 {
  font-family: 'hlmt-rounded', Arial, sans-serif;
  font-size: 4.2rem;
  color: #2c1200;
}
.where-to-buy h4 {
  font-family: 'hlmt-rounded', Arial, sans-serif;
  font-size: 3.6rem;
  color: #2c1200;
}
