<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DocAtlas</title>

		<base href="<?= urlBasePath ?>/" />

		<link rel="stylesheet" href="./styles/lib/owlcarousel/owl.carousel.css" />
		<link rel="stylesheet" href="./styles/framework.css">
		<link rel="stylesheet" href="./styles/common.css">
		<link rel="stylesheet" href="./styles/ui.ribbon.css">
		<link rel="stylesheet" href="./styles/ui.header.css">
		<link rel="stylesheet" href="./styles/ui.navigation.css">
		<link rel="stylesheet" href="./styles/ui.where-to-buy.css">
		<link rel="stylesheet" href="./styles/ui.sn-share.css">
		<link rel="stylesheet" href="./styles/ui.footer.css">
		<link rel="stylesheet" href="./styles/ui.product.css">
		<link rel="stylesheet" href="./styles/ui.slot.css">
		<link rel="stylesheet" href="./styles/ui.simple.css">
		<link rel="stylesheet" href="./styles/ui.timeline.css">
		<link rel="stylesheet" href="./styles/ui.call-to-action.css">
		<link rel="stylesheet" href="./styles/ui.hero.css">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="shortcut icon" href="./favicon.ico" />

		<meta name="robots" content="noindex, nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="layout with-background">