		<div class="ui slot<?- (component && component.variationClass) ? ' ' + component.variationClass : '' ?>">
			<div class="slot--inner">
				<? if (component && component.components && component.components.before) { ?>
				<div class="slot--before">
					<?- includeComponents('before', component, path) ?>
				</div>
		        <? } ?>
				<? if (component && component.components) { ?>
				<div class="slot--items">
		        <? for (var placeholder in component.components) { ?>
		            <? if (component.components.hasOwnProperty(placeholder) && !placeholder.indexOf("item")) { ?>
	                <div class="slot--item<?- (component && component.itemsClass && component.itemsClass[placeholder]) ? ' ' + component.itemsClass[placeholder] : '' ?>">
	                    <?- includeComponents(placeholder, component, path) ?>
	                </div>
		            <? } ?>
		        <? } ?>
				</div>
		        <? } ?>
		        <? if (component && component.components && component.components.after) { ?>
				<div class="slot--after">
					<?- includeComponents('after', component, path) ?>
				</div>
		        <? } ?>
			</div>
		</div>