							<section class="ui call-to-action<%- (component && component.variationClass) ? " " + component.variationClass : "" %>">
								<div class="call-to-action--inner">
									<ul class="multiple">
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/kitten-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin</h1>
												<h2 class="p-margin"></h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/adult-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin 2</h1>
												<h2 class="p-margin">Unnatural Axe</h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/sterilized-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin 3</h1>
												<h2 class="p-margin">Clerical Errors</h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<% if (component && !component.small) { %>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/kitten-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin 4</h1>
												<h2 class="p-margin">The Need For Steed</h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/kitten-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin Zombies</h1>
												<h2 class="p-margin"></h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/kitten-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin Zombies 2</h1>
												<h2 class="p-margin">Armed and Dangerous</h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<li class="single">
											<div class="call-to-action--content">
												<p class="text-center"><a class="btn btn-link" href=""><img class="img-responsive" src="./content/images/kitten-leaf.png" alt=""></a></p>
												<h1 class="no-margin">Munchkin Zombies 3</h1>
												<h2 class="p-margin">Hideous Hideouts</h2>
												<p>More detail about this game here. After this description, let a link for go to page.</p>
												<p><a class="btn btn-link" href="">Find out more &gt;&gt;</a></p>
											</div>
										</li>
										<% } %>
									</ul>
								</div>
							</section>