        <section class="ui ribbon">
            <div class="ribbon--inner">
                <div class="ribbon--logo">
                    <a href="http://www.worldofmunchkin.com/" title="Learn more about the Munchkin">
                        <img class="img-responsive" alt="Munchkin World" src="./content/images/ribbon-logo.png">
                    </a>
                </div>
                <div class="ribbon--abstract">
                    <a href="http://www.worldofmunchkin.com/">Learn more about the Munchkin</a>
                </div>
            </div>
        </section>