							<section class="ui timeline<%- (component && component.variationClass) ? " " + component.variationClass : "" %>">
								<div class="timeline--inner">
									<ol class="multiple">
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis voluptatibus eaque molestias id ipsum dolores inventore sequi minus deserunt praesentium. Distinctio debitis et eos alias repellat consequatur autem, similique ratione..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore minima sed minus quo expedita magnam, perspiciatis ullam alias, voluptates quaerat quis dicta quos id numquam eius praesentium maxime eos laboriosam..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum perferendis ex cumque eveniet ipsum iste maxime. Provident temporibus nulla animi, ratione at cupiditate ipsum nisi ex, quasi? Voluptates, assumenda, deserunt..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id aspernatur placeat reprehenderit, eum dolore! Quaerat provident dolore iure at, maxime voluptatum ratione cum molestiae explicabo pariatur cupiditate impedit vel architecto..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero doloribus perferendis, provident quasi facere optio, error fugiat animi consequatur nobis voluptatum quos maxime aliquam nisi ut iste deleniti molestias deserunt?.</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi magni aut dolore consectetur, optio reprehenderit temporibus natus omnis esse dolor veritatis quisquam aspernatur quae, nemo voluptatem porro vel quam. Voluptate..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
										<li class="single">
											<div class="timeline--entry">
												<div class="timeline--time">
													<h3>2000</h3>
												</div>
												<div class="timeline--presentation">
													<h2>Munchkin</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in atque accusantium dolorem, esse doloribus, quo deserunt debitis consequatur voluptatem perspiciatis repudiandae minus possimus perferendis rerum, animi aperiam! Quis, neque..</p>
												</div>
												<div class="timeline--image">
													<p class="text-center"><img class="img-responsive" src="./content/images/timeline-1.png" alt=""></p>
												</div>
											</div>
										</li>
									</ol>
									<div class="timeline--entry">
										<div class="timeline--time">
											<h4 class="text-center">The<br>future</h4>
										</div>
									</div>
								</div>
							</section>